body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: sans-serif;
}

.container {
    text-align: center;
}

#generate-btn {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 20px;
}

.lotto-numbers {
    display: flex;
    justify-content: center;
}

.lotto-number {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #4CAF50;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin: 0 5px;
}