:root {
    --background-color-light: #FFFFFF;
    --text-color-light: #000000;
    --border-color-light: #000000;

    --background-color-dark: #000000;
    --text-color-dark: #FFFFFF;
    --border-color-dark: #FFFFFF;
}

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: var(--background-color-light);
    color: var(--text-color-light);
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
    --background-color-light: var(--background-color-dark);
    --text-color-light: var(--text-color-dark);
    --border-color-light: var(--border-color-dark);
}

.container {
    text-align: center;
    padding: 40px;
    border-radius: 15px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.title-block {
    text-align: center;
    margin-bottom: 15px;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

.numbers-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
    min-height: 70px;
}

.button-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
}

.glow-button {
    background-color: transparent;
    border: 2px solid var(--border-color-light);
    border-radius: 9999px;
    padding: 16px 32px;
    color: var(--text-color-light);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    cursor: pointer;
    transition: all 0.3s ease;
}

.glow-button:hover {
    background-color: var(--text-color-light);
    color: var(--background-color-light);
}

.theme-switch-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.theme-switch-wrapper { display: flex; align-items: center; }
.theme-switch { display: inline-block; height: 34px; position: relative; width: 60px; }
.theme-switch input { display: none; }
.slider { background-color: #ccc; bottom: 0; cursor: pointer; left: 0; position: absolute; right: 0; top: 0; transition: .4s; }
.slider:before { background-color: #fff; bottom: 4px; content: ""; height: 26px; left: 4px; position: absolute; transition: .4s; width: 26px; }
input:checked + .slider { background-color: #000000; }
body.dark-mode input:checked + .slider { background-color: #FFFFFF; }
input:checked + .slider:before { transform: translateX(26px); }
.slider.round { border-radius: 34px; }
.slider.round:before { border-radius: 50%; }
