body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
    background-color: #333;
    color: #fff;
}

.container {
    text-align: center;
    width: 90%;
    max-width: 800px;
    margin: auto;
    position: relative; /* 자식 요소의 position: absolute; 기준 */
    z-index: 1; /* 내용이 로고 위에 오도록 함 */
}

.background-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px; /* 로고 크기 조절 */
    opacity: 0.1; /* 로고 투명도 조절 */
    z-index: -1; /* 로고가 내용 뒤에 오도록 함 */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.title-block {
    flex-grow: 1; 
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

.theme-switch-container {
    display: flex;
    align-items: center;
}

.theme-switch-wrapper {
    margin: 0 10px;
}

.theme-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.theme-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.button-group {
    margin-bottom: 20px;
}

.glow-button {
    background: linear-gradient(45deg, #FF6EC4, #7873F5);
    border: none;
    color: white;
    padding: 15px 30px;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    margin: 0 10px;
}

.glow-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

.btn-text {
    background: -webkit-linear-gradient(45deg, #EE9CA7, #FFDDE1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.numbers-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.number-row {
    display: flex;
    justify-content: center;
    gap: 10px;
}
