body {
    margin: 0;
    font-family: sans-serif;
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logo {
    width: 150px;
    margin-bottom: 20px;
}

.spin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spin-wheel-container {
    position: relative;
    width: 300px;
    height: 300px;
}

.spin-wheel {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 5px solid #fff;
    transition: transform 10s ease-out;
}

.segment {
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: #444444;
    transform-origin: 100% 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 40px;
    font-size: 18px;
    color: #fff;
}

.segment:nth-child(odd) {
    background-color: #DDDDDD;
    color: #000;
}

.prize {
    transform: rotate(22.5deg);
}

.spin-pointer {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 30px solid #fff;
}

.spin-button {
    margin-top: 50px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: #fff;
    border: none;
    border-radius: 5px;
}
